#headerWrapper {
  header {
    padding: 2rem $gutter;
  }
  h1 {
    font-size: 2rem;
  }
} // end header styles

div.allcards {
  padding: 0 $gutter;
  display: flex;
  flex-wrap: wrap;
  gap: $gutter;
  section {
    flex-basis: calc(50% - ($gutter/2));
  }
}

footer div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
