$primaryColor: #700000; 
$secondaryColor: #002242;
$fontColor: #333;

$menuColor: #434343;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;